*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(151, 143, 179);
    width: 100%;
    height: 100%;
}

#speed-div{
    min-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: rgb(245, 243, 243);
    padding: 20px 0px;
    box-shadow: 5px 5px 15px black;
}

#div-but{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.start-stop{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    color: rgb(221, 220, 220);
    background: rgb(110, 103, 134);
}

#tit2{
    margin-top: 10px;
    margin-bottom: 25px; 
}